# Kasra Samadi 993623030

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import mean_squared_error
%matplotlib inline

### reading train.csv and test.csv

In [2]:
df_train = pd.read_csv("train.csv")
df_test = pd.read_csv("test.csv")

In [3]:
df_train

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [4]:
print(df_train.isna().sum())
print(df_test.isna().sum())

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64
PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

### define x_train , y_train and x_test

In [5]:
y_train = df_train["Survived"]
x_train = df_train.drop(["Name","Fare","Survived","Cabin","Embarked","PassengerId","Pclass","Ticket"], axis=1)
x_test = df_test.drop(["Name","Fare","Cabin","Embarked","PassengerId","Pclass","Ticket"], axis=1)

### drop null values from x_train and x_test data frames and replacing with median

In [7]:
# x_train
temp_Age_train = x_train["Age"]
dropna_Age_train = temp_Age_train.dropna()
mean_Age_train = dropna_Age_train.median()
x_train["Age"].fillna(mean_Age_train, inplace=True)
# x_test
temp_Age_test = x_test["Age"]
dropna_Age_test = temp_Age_test.dropna()
mean_Age_test = dropna_Age_test.median()
x_test["Age"].fillna(mean_Age_test, inplace=True)

In [8]:
print(x_train.isna().sum())
print(x_test.isna().sum())

Sex      0
Age      0
SibSp    0
Parch    0
dtype: int64
Sex      0
Age      0
SibSp    0
Parch    0
dtype: int64

### convert sex column to numerical values

In [9]:
sex = {'male': 2,'female': 1} 
x_train["Sex"] = [sex[i] for i in x_train["Sex"]]
x_test["Sex"] = [sex[i] for i in x_test["Sex"]]

# # LabelEncoder preprocessing for labeled values
# from sklearn import preprocessing
# le_sex = preprocessing.LabelEncoder()
# le_sex.fit(["female","male"])
# x_train["Sex"] = le_sex.transform(x_train["Sex"])
# x_test["Sex"] = le_sex.transform(x_test["Sex"])

In [10]:
x_test

     Sex   Age  SibSp  Parch
0      2  34.5      0      0
1      1  47.0      1      0
2      2  62.0      0      0
3      2  27.0      0      0
4      1  22.0      1      1
..   ...   ...    ...    ...
413    2  27.0      0      0
414    1  39.0      0      0
415    2  38.5      0      0
416    2  27.0      0      0
417    2  27.0      1      1

[418 rows x 4 columns]

### x_train and x_test normalizing

In [11]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler

# x_train normalizing
x_train_values = x_train.values
min_max_scaler = StandardScaler()
x_scaled_train = min_max_scaler.fit_transform(x_train_values)
x_train = pd.DataFrame(x_scaled_train,columns = x_train.columns)

# x_test normalizing
x_test_values = x_test.values
min_max_scaler = StandardScaler()
x_scaled_test = min_max_scaler.fit_transform(x_test_values)
x_test = pd.DataFrame(x_scaled_test,columns = x_test.columns)

### insert a ones column as Intercept

In [12]:
#Add a column of ones for the intercept for x train
x_train = pd.concat([pd.Series(1, index=x_train.index, name="Intercept"), x_train], axis=1)

# Add a column of ones for the intercept for x test
x_test = pd.concat([pd.Series(1, index=x_test.index, name="Intercept"), x_test], axis=1)

In [13]:
x_train

     Intercept       Sex       Age     SibSp     Parch
0            1  0.737695 -0.565736  0.432793 -0.473674
1            1 -1.355574  0.663861  0.432793 -0.473674
2            1 -1.355574 -0.258337 -0.474545 -0.473674
3            1 -1.355574  0.433312  0.432793 -0.473674
4            1  0.737695  0.433312 -0.474545 -0.473674
..         ...       ...       ...       ...       ...
886          1  0.737695 -0.181487 -0.474545 -0.473674
887          1 -1.355574 -0.796286 -0.474545 -0.473674
888          1 -1.355574 -0.104637  0.432793  2.008933
889          1  0.737695 -0.258337 -0.474545 -0.473674
890          1  0.737695  0.202762 -0.474545 -0.473674

[891 rows x 5 columns]

### sigmoid function

In [14]:
def sigmoid(x):
    return 1 / (1 + np.exp(-x))

### cost function

In [15]:
def cost(theta, X, y):
    m = len(y)
    y_pred = sigmoid(X.dot(theta))
    return -np.sum(y * np.log(y_pred) + (1 - y) * np.log(1 - y_pred)) / m

### gradient function

In [16]:
def gradient(theta, X, y):
    m = len(y)
    y_pred = sigmoid(X.dot(theta))
    return X.T.dot(y_pred - y) / m

### gradient descent function

In [17]:
def gradient_descent(theta, alpha, iterations, X, y):
    m = len(y)
    cost_history = np.zeros(iterations)
    for i in range(iterations):
        theta = theta - alpha * gradient(theta, X, y)
        cost_history[i] = cost(theta, X, y)
    return theta, cost_history

### Initializing theta with random values , alpha as Learning rate and iterations

In [18]:
theta = np.random.randn(x_train.shape[1])
alpha = 0.01 # Learning rate
iterations = 1000

### Calculate theta and cost_history

In [19]:
theta, cost_history = gradient_descent(theta, alpha, iterations, x_train, y_train)

### predict y_pred

In [20]:
y_pred = sigmoid(x_test.dot(theta)) > 0.5 # use 0.5 as the threshold

In [21]:
y_pred

0      False
1       True
2      False
3      False
4       True
       ...
413    False
414     True
415    False
416    False
417    False
Length: 418, dtype: bool

### Convert boolean to integer

In [22]:
y_pred = y_pred.astype(int)

### create y_pred and PassengerId dataFrames

In [23]:
y_pred_df = pd.DataFrame(y_pred,columns=['Survived'])

In [24]:
PassengerId_df = pd.DataFrame(df_test["PassengerId"],columns=['PassengerId'])

### create storing result dataFrame

In [25]:
result = pd.concat([PassengerId_df, y_pred_df], axis=1)

### save to csv

In [26]:
result.to_csv("Q1.csv",index=False)