# Kasra Samadi 993623030

In [116]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import mean_squared_error
%matplotlib inline

### reading train.csv and test.csv

In [117]:
df_train = pd.read_csv("train.csv")
df_test = pd.read_csv("test.csv")

In [118]:
df_train

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,85,5.4,3.0,4.5,1.5,Iris-versicolor
1,123,7.7,2.8,6.7,2.0,Iris-virginica
2,29,5.2,3.4,1.4,0.2,Iris-setosa
3,25,4.8,3.4,1.9,0.2,Iris-setosa
4,76,6.6,3.0,4.4,1.4,Iris-versicolor
...,...,...,...,...,...,...
115,118,7.7,3.8,6.7,2.2,Iris-virginica
116,60,5.2,2.7,3.9,1.4,Iris-versicolor
117,46,4.8,3.0,1.4,0.3,Iris-setosa
118,33,5.2,4.1,1.5,0.1,Iris-setosa
119,32,5.4,3.4,1.5,0.4,Iris-setosa

In [119]:
print(df_train.isna().sum())
print(df_test.isna().sum())

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64
Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

### define x_train , y_train and x_test

In [120]:
y_train = df_train["Species"]
y_test = df_test["Species"]
x_train = df_train.drop(["Id","Species"], axis=1)
x_test = df_test.drop(["Id","Species"], axis=1)

In [121]:
print(y_train.value_counts())
print(y_test.value_counts())

Iris-setosa        42
Iris-versicolor    40
Iris-virginica     38
Name: Species, dtype: int64
Iris-virginica     12
Iris-versicolor    10
Iris-setosa         8
Name: Species, dtype: int64

In [122]:
# y_train = pd.DataFrame(y_train)
# y_test = pd.DataFrame(y_test)

In [123]:
y_train

0      Iris-versicolor
1       Iris-virginica
2          Iris-setosa
3          Iris-setosa
4      Iris-versicolor
            ...
115     Iris-virginica
116    Iris-versicolor
117        Iris-setosa
118        Iris-setosa
119        Iris-setosa
Name: Species, Length: 120, dtype: object

### convert Species column to numerical values

In [124]:
# Species = {"Iris-setosa": 2,"Iris-versicolor": 1 ,"Iris-virginica" : 0} 
# y_train["Species"] = [Species[i] for i in y_train["Species"]]
# y_test["Species"] = [Species[i] for i in y_test["Species"]]

In [125]:
y_train

0      Iris-versicolor
1       Iris-virginica
2          Iris-setosa
3          Iris-setosa
4      Iris-versicolor
            ...
115     Iris-virginica
116    Iris-versicolor
117        Iris-setosa
118        Iris-setosa
119        Iris-setosa
Name: Species, Length: 120, dtype: object

### convert y_train to pandas.core.series.Series

In [126]:
# y_train = y_train.squeeze()
# y_test = y_test.squeeze()

In [127]:
y_test

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
5         Iris-setosa
6         Iris-setosa
7         Iris-setosa
8     Iris-versicolor
9     Iris-versicolor
10    Iris-versicolor
11    Iris-versicolor
12    Iris-versicolor
13    Iris-versicolor
14    Iris-versicolor
15    Iris-versicolor
16    Iris-versicolor
17    Iris-versicolor
18     Iris-virginica
19     Iris-virginica
20     Iris-virginica
21     Iris-virginica
22     Iris-virginica
23     Iris-virginica
24     Iris-virginica
25     Iris-virginica
26     Iris-virginica
27     Iris-virginica
28     Iris-virginica
29     Iris-virginica
Name: Species, dtype: object

In [128]:
print(x_train.isna().sum())
print(x_test.isna().sum())
print(y_train.isna().sum())
print(y_test.isna().sum())

SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
dtype: int64
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
dtype: int64
0
0

### x_train and x_test normalizing

In [129]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler

# x_train normalizing
x_train_values = x_train.values
min_max_scaler = StandardScaler()
x_scaled_train = min_max_scaler.fit_transform(x_train_values)
x_train = pd.DataFrame(x_scaled_train,columns = x_train.columns)

# x_test normalizing
x_test_values = x_test.values
min_max_scaler = StandardScaler()
x_scaled_test = min_max_scaler.fit_transform(x_test_values)
x_test = pd.DataFrame(x_scaled_test,columns = x_test.columns)

In [130]:
# Define a function to calculate the Euclidean distance between two points
def euclidean_distance(x1, x2):
    return np.sqrt(np.sum((x1 - x2)**2))

In [131]:
def knn(X_train, y_train, X_test, K):
  # Initialize an empty list to store the predictions
  y_pred = []
  # Loop through each test data point
  for x_test in X_test:
    # Initialize an empty list to store the distances and labels
    distances = []
    # Loop through each train data point
    for x_train, y_train in zip(X_train, y_train):
      # Calculate the distance between the test and train data points
      distance = euclidean_distance(x_test, x_train)
      # Append the distance and label to the list
      distances.append((distance, y_train))
    # Sort the list by the distance in ascending order
    distances.sort()
    # Get the first K elements from the list
    k_nearest = distances[:K]
    # Get the labels of the K nearest neighbors
    k_nearest_labels = [label for _, label in k_nearest]
    # Get the most common label among the K nearest neighbors
    most_common = max(set(k_nearest_labels), key=k_nearest_labels.count)
    # Append the most common label to the predictions list
    y_pred.append(most_common)
  # Return the predictions list
  return y_pred

In [ ]:
# Import pandas for data frame operations
import pandas as pd
# Import numpy for array operations
import numpy as np

# Define a function to calculate the Euclidean distance between two points
def euclidean_distance(x1, x2):
  return np.sqrt(np.sum((x1 - x2)**2))

# Define a function to implement the KNN algorithm
def knn(df_train, df_test, K):
  # Convert the data frames to numpy arrays
  X_train = df_train[['x1', 'x2']].to_numpy()
  y_train = df_train['y'].to_numpy()
  X_test = df_test[['x1', 'x2']].to_numpy()
  y_test = df_test['y'].to_numpy()
  # Initialize an empty list to store the predictions
  y_pred = []
  # Loop through each test data point
  for x_test in X_test:
    # Initialize an empty list to store the distances and labels
    distances = []
    # Loop through each train data point
    for x_train, y_train in zip(X_train, y_train):
      # Calculate the distance between the test and train data points
      distance = euclidean_distance(x_test, x_train)
      # Append the distance and label to the list
      distances.append((distance, y_train))
    # Sort the list by the distance in ascending order
    distances.sort()
    # Get the first K elements from the list
    k_nearest = distances[:K]
    # Get the labels of the K nearest neighbors
    k_nearest_labels = [label for _, label in k_nearest]
    # Get the most common label among the K nearest neighbors
    most_common = max(set(k_nearest_labels), key=k_nearest_labels.count)
    # Append the most common label to the predictions list
    y_pred.append(most_common)
  # Return the predictions list
  return y_pred

### predict y_pred

In [133]:
k=5
y_pred = knn(x_train, y_train, x_test, k)

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [21]:
y_pred

0      False
1       True
2      False
3      False
4       True
       ...
413    False
414     True
415    False
416    False
417    False
Length: 418, dtype: bool

### Convert boolean to integer

In [22]:
y_pred = y_pred.astype(int)

### create y_pred and PassengerId dataFrames

In [23]:
y_pred_df = pd.DataFrame(y_pred,columns=['Survived'])

In [24]:
PassengerId_df = pd.DataFrame(df_test["PassengerId"],columns=['PassengerId'])

### create storing result dataFrame

In [25]:
result = pd.concat([PassengerId_df, y_pred_df], axis=1)

### save to csv

In [26]:
result.to_csv("Q1.csv",index=False)